@model MySocialNetwork.Domain.ViewModel.User.UserRegisterViewModel

@{
    Layout = "_Layout_no-navbar";
}

<div class="container">
    <div class="row d-flex justify-content-center vh-100">
        <div class="col-md-8 m-auto px-1">

            <form class="form-login d-flex flex-column" asp-controller="Account" asp-action="Register" method="post">
                <img src="./../img/logo.png" alt="The Daniel´s" class="logo mx-auto">
                <h6 class="text-center fw-bold mt-3 mb-4">
                    Nova conta - The Daniel´s
                </h6>

                <div class="mb-2">
                    <label class="form-label" asp-for="Name"></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Nome" asp-for="Name">
                </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label" asp-for="Email"></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Endereço de email" asp-for="Email">
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label" asp-for="Password">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Informe sua senha" asp-for="Password">
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label" asp-for="ConfirmPassword">Confirmar senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Confirme sua senha" asp-for="ConfirmPassword">
                </div>

                <div class="col-lg-4">
                    <button class="my-btn bg-orange radius-10 mt-2" type="submit">Criar conta</button>

                    <div class="mt-4" style="font-size: 13px;">
                        <p>Já tem uma conta? <a href="/account/login">Fazer login</a></p>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
