@if (User.Identity.IsAuthenticated)
{
    <li><a class="dropdown-item" href="/User/Account">Minha conta</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/Account/Logout">Sair</a></li>
}
else
{
    <li><a class="dropdown-item" href="/Account/Login">Login</a></li>
    <li><a class="dropdown-item" href="/Account/Register">Criar conta</a></li>
}