@{
    Layout = "_Layout_no-navbar";
}

<div class="container">
    <div class="row d-flex justify-content-center vh-100">
        <div class="col-md-8 col-lg-5 m-auto">

            <form class="form-login d-flex flex-column">
                <img src="./../img/logo.png" alt="The Daniel´s" class="logo mx-auto">
                <h6 class="text-center fw-bold my-3">
                    Login - The Daniel´s
                </h6>

                <div class="form-floating mb-2">
                    <input type="email" class="form-control form-control-sm radius-10" id="floatingInput"
                           placeholder="email@example.com">
                    <label for="floatingInput">Usuário ou email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control form-control-sm radius-10" id="floatingPassword"
                           placeholder="Senha">
                    <label for="floatingPassword">Senha</label>
                </div>
                <a href="" style="font-size: 13px;" class="mb-3 mt-2">Esqueci minha senha</a>

                <button class="bg-orange radius-10 w-100 mt-2" type="submit">Entrar</button>

                <div class="text-center mt-3" style="font-size: 13px;">
                    <p>
                        Não tem uma conta?
                        <a href="">Criar conta</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>