@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6 d-flex justify-content-center mx-auto">
        <div class="actions">
            <button data-bs-toggle="modal" data-bs-target="#modalNewPost"><i class="bi bi-plus-square"></i></button>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 p-0 p-sm-2">
        <div class="publication p-0">
            <div class="p-2 px-lg-2">
                <a class="username" href="/">
                    <img src="~/users/profiles/0/daniel.png" class="profile radius-100" />
                    Daniel Sanches
                </a>
            </div>
            <div class="card">
                <img src="~/users/publications/0/grand-canal-veneza.jpg" class="card-img-top img-publication" alt="...">
                <div class="card-body px-2">
                    <span class="qty-likes fw-bold mb-3 d-block">38 curtidas</span>
                    <div class="actions mb-2">
                        <button class="like"><i class="bi bi-heart-fill" style="color: var(--orange)"></i></button>
                        <button class="comment mx-1"><i class="bi bi-chat"></i></button>
                        <button class="share"><i class="bi bi-share"></i></button>
                    </div>
                    <p class="description">
                        Hoje foi dia de conhecer esse lugar maravilhoso,
                        Embalse el Yeso, e ficamos apaixonados!
                        💙 Nós fomos com a minha família e recomendamos muito! 😍🗻💙!
                    </p>

                    <div class="d-inline">
                        <small class="date text-muted fw-bold" style="font-size: 10px">23-01-2022 às 17:43</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 p-0 p-sm-2">
        <div class="publication p-0">
            <div class="p-2 px-lg-2">
                <a class="username" href="/">
                    <img src="~/users/profiles/0/daniel.png" class="profile radius-100" />
                    Daniel Sanches
                </a>
            </div>
            <div class="card">
                <img src="~/users/publications/0/group-old-healthy.jpg" class="card-img-top img-publication" alt="...">
                <div class="card-body px-2">
                    <span class="qty-likes fw-bold mb-3 d-block">38 curtidas</span>
                    <div class="actions mb-2">
                        <button class="like"><i class="bi bi-heart-fill" style="color: var(--orange)"></i></button>
                        <button class="comment mx-1"><i class="bi bi-chat"></i></button>
                        <button class="share"><i class="bi bi-share"></i></button>
                    </div>
                    <p class="description">
                        Hoje foi dia de conhecer esse lugar maravilhoso,
                        Embalse el Yeso, e ficamos apaixonados!
                        💙 Nós fomos com a minha família e recomendamos muito! 😍🗻💙!
                    </p>

                    <div class="d-inline">
                        <small class="date text-muted fw-bold" style="font-size: 10px">23-01-2022 às 17:43</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 p-0 p-sm-2">
        <div class="publication p-0">
            <div class="p-2 px-lg-2">
                <a class="username" href="/">
                    <img src="~/users/profiles/0/daniel.png" class="profile radius-100" />
                    Daniel Sanches
                </a>
            </div>
            <div class="card">
                <img src="~/users/publications/0/istockphoto.jpg" class="card-img-top img-publication" alt="...">
                <div class="card-body px-2">
                    <span class="qty-likes fw-bold mb-3 d-block">38 curtidas</span>
                    <div class="actions mb-2">
                        <button class="like"><i class="bi bi-heart-fill" style="color: var(--orange)"></i></button>
                        <button class="comment mx-1"><i class="bi bi-chat"></i></button>
                        <button class="share"><i class="bi bi-share"></i></button>
                    </div>
                    <p class="description">
                        Hoje foi dia de conhecer esse lugar maravilhoso,
                        Embalse el Yeso, e ficamos apaixonados!
                        💙 Nós fomos com a minha família e recomendamos muito! 😍🗻💙!
                    </p>

                    <div class="d-inline">
                        <small class="date text-muted fw-bold" style="font-size: 10px">23-01-2022 às 17:43</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 p-0 p-sm-2">
        <div class="publication p-0">
            <div class="p-2 px-lg-2">
                <a class="username" href="/">
                    <img src="~/users/profiles/0/daniel.png" class="profile radius-100" />
                    Daniel Sanches
                </a>
            </div>
            <div class="card">
                <img src="~/users/publications/0/istockphoto2.jpg" class="card-img-top img-publication" alt="...">
                <div class="card-body px-2">
                    <span class="qty-likes fw-bold mb-3 d-block">38 curtidas</span>
                    <div class="actions mb-2">
                        <button class="like"><i class="bi bi-heart-fill" style="color: var(--orange)"></i></button>
                        <button class="comment mx-1"><i class="bi bi-chat"></i></button>
                        <button class="share"><i class="bi bi-share"></i></button>
                    </div>
                    <p class="description">
                        Hoje foi dia de conhecer esse lugar maravilhoso,
                        Embalse el Yeso, e ficamos apaixonados!
                        💙 Nós fomos com a minha família e recomendamos muito! 😍🗻💙!
                    </p>

                    <div class="d-inline">
                        <small class="date text-muted fw-bold" style="font-size: 10px">23-01-2022 às 17:43</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="../Modals/_ModalNewPost.cshtml"></partial>